html,body {
  height: 100%;
  overflow: hidden;
}

body {
  background: #F6F6F6;
  font-family: PingFangSC, PingFang SC, Arial, Helvetica, sans-serif;
}

#root {
  height: 100%;
  overflow: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.container {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}